# Locale Setup
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8

# Keyboard Setup
d-i keyboard-configuration/xkb-keymap select us

# Timezone
d-i time/zone string US/Eastern
d-i clock-setup/utc boolean true

# Network Setup
d-i netcfg/get_hostname string <user>
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/choose_interface select auto 
# Make sure to add "interface=auto" to your boot command

# User Setup
d-i passwd/user-fullname string packer
d-i passwd/username string packer
d-i passwd/user-password password packer
d-i passwd/user-password-again password packer
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i passwd/root-login boolean false

# Package Setup
d-i hw-detect/load_firmware boolean false
d-i hw-detect/load_media boolean false

apt-cdrom-setup apt-setup/cdrom/set-first boolean false

d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string
d-i mirror/suite string kali-rolling
d-i mirror/codename string kali-rolling

d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true
tasksel tasksel/first multiselect standard
d-i pkgsel/include string \
    curl git kali-linux-default kali-desktop-gnome openssh-server wget vim sudo
d-i preseed/late_command string in-target systemctl enable ssh
popularity-contest popularity-contest/participate boolean false

# Partitioning
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default
d-i partman-auto/disk string /dev/sda
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string primary
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic

# Finish Setup
d-i finish-install/reboot_in_progress note
